* {
    box-sizing: border-box;
}

.gameCard{
    max-width: 1000px;
    min-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    box-shadow: 0 0 5px gray;
    border-radius: 20px;
    margin: 30px auto;
    padding-bottom: 20px;
}

.gameImg{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.titleNews{
    font-weight: 600;
    font-size: 20px;
}

.newstext{
    font-size: 17px;
    line-height: 25px;
    padding: 0 20px 0 20px;
}

.category{
    font-size: 20px;
    font-weight: 600;
}

.date{
    color: gray;
}

.del-btn{
    border: none;
    font-size: 20px;
    padding-top: 5px;
    cursor: pointer;
}

.likeNews{
    padding-top: 5px;
    font-size: 40px;
    cursor: pointer;
}

