* {
    box-sizing: border-box;
}

body{
    background-color:darkslategray ;
    font-family: 'Open Sans';

    padding: 10px;
}

.post-cont{
    max-width: 250px;
    min-width: 200px;
    width: 100%;
    
    background-color: #ffff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
}

.post-photo{
    width: 250px;
    height: 200px;
    object-fit: cover;
    width: 100%;

    border-radius: inherit;
}

.post-name{
    font-size: 20px;
    font-weight: 500;
}

.autor{
    font-size: 15px;
    color: gray;
}

.post-text{
}

.post-date{
    color: gray;
    font-size: 10px;
}

.post-likes{
    font-size: 15px;
}

.heart{
    color: red;
    font-size: 15px;
}

.share{
    color: black;
    font-size: 15px;
}

.share:hover{
    color: gray;
}

.post-heshtag{
    color: gray;
    font-size: 15px;
}