/* * {
    box-sizing: border-box;
}

.gameCard{
    max-width: 1000px;
    min-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    background-color: #ffff;
    box-shadow: 0 0 5px gray;
    border-radius: 20px;
    margin: 30px auto;
    padding-bottom: 20px;
}

.gameImg{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.titleNews{
    font-weight: 600;
    font-size: 20px;
}

.newstext{
    font-size: 17px;
    line-height: 25px;
    padding: 0 20px 0 20px;
}

.category{
    font-size: 20px;
    font-weight: 600;
}

.date{
    color: gray;
}

.del-btn{
    border: none;
    font-size: 20px;
    padding-top: 5px;
    cursor: pointer;
}

.likeNews{
    padding-top: 5px;
    font-size: 40px;
    cursor: pointer;
}
 */

 * {
    box-sizing: border-box;
  }
  
  :root {
    font-family: sans-serif;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/sea.jpg);
    background-size: cover;
  }
  
  main {
    box-shadow: 0 0 20px black;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    min-width: 300px;
    margin: 10px;
  }
  
  .form-head {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffff;
  }

  .text-after-head{
    color: #ffff;
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .reg-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-label {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .label-caption {
    flex: 1 1 120px;
    color: #ffff;
    font-size: 20px;
  }
  
  .form-input {
    flex: 1 1 200px;
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    border: none;
    width: 100%;
  }

.form-input:valid {
  border: 1px solid green;
  background-color: aquamarine;
}
.form-input:invalid {
  border: 1px solid red;
  background-color: lightpink;
}
  
  .submit-btn {
    padding: 5px;
    background-color: white;
    border: 2px solid white;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }

  .submit-btn:hover{
    background-color: inherit;
    color: white;
  }
